{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.mailing_time }}</p>
            <p class="card-text">{{ object.message.title }}</p>
            <p class="card-text">{{ object.message.body }}</p>
            <p class="card-text">{{ object.get_frequency_display }}</p>
            <p class="card-text">{{ object.get_status_display }}</p>

        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <div class="card-title">
                Отчет по отправке
            </div>
        </div>
        <div class="card-body">
            {% for log in logs %}
            <p class="card-text">{{ log.date_attempt }} {{ log.status }} {{ log.answer }}</p>
            {% endfor %}
        </div>
    </div>
    <div>
    <a href="{% url 'mailing:list_mailing' %}" class="btn btn-warning">Назад</a>
</div>
</div>
{% endblock %}