{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12 mb-3 ">
    <a class="btn btn-outline-primary" href="{% url 'mailing:create_mailing' %}">Добавить рассылку</a>
</div>
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.mailing_time }}</p>
            <p class="card-text">{{ object.message }}</p>
            <p class="card-text">{{ object.get_frequency_display }}</p>
            <p class="card-text">{{ object.get_status_display }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <nav class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'mailing:view_mailing' object.pk %}">View</a>
                    {% if user == object.user %}
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                         href="{% url 'mailing:update_mailing' object.pk %}">Edit</a>
                    {% endif %}
                    {% if user == object.user %}
                    <a type="button" class="btn btn-sm btn-outline-danger"
                         href="{% url 'mailing:delete_mailing' object.pk %}">Delete</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}